*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    background-color: #0a183d;
    height: 100vh;
font-family: 'open sans';
}
h2{
    font-size: 6rem;
    color: #fff;
}
h4{
    font-size: 2.5rem;
    color: #fff;
}
p{
   font-size: 1.6rem;
   color: #c1c1c1;
   line-height: 1.8; 
}
h2.dark,h4.dark,p.dark{
    color: #0a183d;
}
button{
    padding: 2.2rem  4.5rem;
    border-radius: 3rem;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.4 rem;
    border: 0;
    cursor: pointer;
}
.common-layout{
    padding: 7 rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}
.white-bg{
    background-color: #fff;
}
.red-clr{
    color:#fe0058;
}
red-botton{
    background-color: #fe0058;
}
.blue-botton{
    background-color:#383870
}
.felx-basis{
    flex-basis: 40%;
}
nav{
    background-color: #08192d;
    padding: 4rem;
    position: fixed;
    top: 0;
    width: 100%;
    display: felx;
    justify-content: space-between;
    z-index: 2;
}
nav ul{
    display: flex;
    color: #fff;
    cursor: pointer;
}
nav ul a,span{
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}
nav ul a{
    text-decoration: none;
    margin-right: 6rem;
}
.navber-right{
    display: flex;
    gap: 4.5rem;
}
.fa-solid.fa-bars{
    font-size: 2.5rem;
    color: #fff;
    display: none;
}
.navber-moblie,.logo-moblie{
    display: none;
}
section-1{
    margin-top:7rem;
}
.sction-1 h1{
    margin: botton 3rem;
    color: #fff;
}
.section-1 h1,.section-1 h1 span{
    font-size: 7rem;
    line-height: 1;
    font-weight: 600
}
.section-1-botton{
    display: flex;
    margin-top: 4rem;
    gap: 2rem;
}
.section-2{
    align-items: start;
}
.section-2-right  button{
    margin-top: 2.rem;
}
section-3{
    background-image: url(./image/music-bg.jpeg);
    background-size: cover;
    max-width: 125rem;
    width: 100%;
    margin: auto;
    justify-content: start;
}
.section-3 h2{
    margin-bottom: 6rem;
}
.section-3-box-div  h4{
    margin:2.rem 0;
}
.section-3-box{
    position: relative;
    z-index: 0;
}
.section-3-box::before{
    content: '';
    position: absolute;
    top: -10px;
    left: -20px;
    width: 5px;
    height: 55px;
    border-radius: 100%;
    background-color: #fe0058;
}
.secction-4-div-1,.section-6-div-1{
display: flex;
justify-content: center;
align-items: start;
gap: 3rem;
flex-wrap: wrap;
}
.section-4 h2{
    line-height: 1.2;
}
.section-4-photo-div,.section-6-photo-div{
    padding: 5rem 0;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 3rem;
}
.img-div figure img{
    max-width: 100%;
    border-radius: 2.5rem;
    display: block;
    margin: auto;
}
.img-div figure figcaption{
    text-align: center;
    font-size: 1.8rem;
    margin-top: 1.8rem;
    font-weight: bold;
}
.section-5{
    gap: 7rem;
}
.section-5-left h2:nth-child(2){
    margin-bottom: 1.5rem;
}
.section-5-left h4{
    margin-bottom: 2rem;
}
.section-5-left p{
    margin-bottom: 2rem;
}
.section-5-right p:last-child{
margin-bottom: 0;
}
.section-6-photo-div .img-div h4{
    font-size: 2.4rem;
}
.section-6-photo-div .img-div p{
    font-weight: 400;
}
.section-6-photo-div .img-div figure img{
    max-width: 100%;
    border-radius: 100%;
}
.footer-main{
    justify-content: space-evenly;
    align-content: start;
}
footer h5{
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
margin-bottom: 2rem;
}
footer p{
    font-size: 1.4rem;
}
footer .quick-links p{
    margin-bottom: 1rem;
    cursor: pointer;
}
.copyright-p{
    font-size: 2rem;
    margin: 1rem 0 4rem;
}
.icons-div i{
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    margin: right 4rem;
}


